body {
    background-color:black;
    font-family:arial;
    color:white;
}

h1{
    color:grey;
    font-family: verdana;
}

input, button {
  margin-bottom: 10px;
}

.maindiv {
    background-color: white;
    border-radius: 25px;
    margin: auto;
    color: black;
    padding: 20px;
    width: 70%;
}

.inputdiv {
  width: 70%;
  margin: auto;
}