body {
    background-color:black;
    font-family:arial;
    color:white;
}

h1{
    color:grey;
    font-family: verdana;
}

.maindiv {
    background-color: white;
    border-radius: 25px;
    margin: auto;
    color: black;
    padding: 20px;
    width: 50%;
}

label {
    margin-bottom: 20px;
}