body {
    background-color:black;
    font-family:arial;
    color:white;
}

h1{
    color:grey;
    font-family: Verdana;
}

.maindiv {
    background-color: white;
    width: 300px;
    padding: 20px;
    border: 25px;
    color: black;
    box-align: center;
}